@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Old+Turkic&display=swap');
*{
    margin: 0;
    padding: 0;
    font: 'Montserrat' serif
} 

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://i.ibb.co/NFRhL44/img.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: white;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.container h1{
    font-size: 30px;
    text-align: center;
}